.wrapper {
  position: relative;
}
.title-sidebae {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 9px;
  text-transform: uppercase;
}

// Стили для узора разделяющего разделы
.pattern__body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
}